// _common.scss
//


/**
 * Settings
 */
$gel-grid-enable--markup-output: true;
$gel-grid-enable--1280-breakpoint: true;

$gel-type-enable--markup-output: true;
$gel-type-enable--font-family: true;
$gel-type-enable--base-elements: true;


/**
 * Dependencies.
 */

// "~" tells Webpack to import this 'like' a module.
@import '~gel-sass-tools';
@import '~sass-mq';

/**
 * Generic
 */

@import '~normalize.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Foundations
 */
// @import '~gel-typography';
@import '~gel-grid';


/**
 * Colours
 */

$purple-l1: #161628;
$purple-l2: #323247;
$purple-l3: #5A6E89;


/**
 * Misc.
 */

%list {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 16px;
  }
}

/**
 * Mixins.
 */

 ///
 /// Viewport sized typography with minimum and maximum values
 ///
 /// @author Eduardo Boucas (@eduardoboucas)
 ///
 /// @param {Number}   $responsive  - Viewport-based size
 /// @param {Number}   $min         - Minimum font size (px)
 /// @param {Number}   $max         - Maximum font size (px)
 ///                                  (optional)
 /// @param {Number}   $fallback    - Fallback for viewport-
 ///                                  based units (optional)
 ///
 /// @example scss - 5vw font size (with 50px fallback),
 ///                 minumum of 35px and maximum of 150px
 ///  @include responsive-font(5vw, 35px, 150px, 50px);
 ///
 @mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
   $responsive-unitless: $responsive / ($responsive - $responsive + 1);
   $dimension: if(unit($responsive) == 'vh', 'height', 'width');
   $min-breakpoint: $min / $responsive-unitless * 100;

   @media (max-#{$dimension}: #{$min-breakpoint}) {
     font-size: $min;
   }

   @if $max {
     $max-breakpoint: $max / $responsive-unitless * 100;

     @media (min-#{$dimension}: #{$max-breakpoint}) {
       font-size: $max;
     }
   }

   @if $fallback {
     font-size: $fallback;
   }

   font-size: $responsive;
 }
